:root {
  /* Gap */
  --sng-space-gap-xs: 4px;
  --sng-space-gap-sm: 8px;
  --sng-space-gap-item: 16px;
  --sng-space-gap-group: 24px;
  --sng-space-gap-section: 32px;

  /* Container Padding */
  --sng-space-container-sm: 12px;
  --sng-space-container-md: 16px;
  --sng-space-container-lg: 24px;
  --sng-space-container-page: 32px;

  /* Element Padding */
  --sng-space-element-py: 8px;
  --sng-space-element-px: 16px;
}
